%h1 Listing services

%p These are all the services you are running. Click on one to view its details, add releases etc. or jump right into one of the actions to the right.

%table
  %tr
    %th Name
    %th Type

  - @services.each do |service|
    %tr
      %td= link_to service.name, resource(service)
      %td=h service.service_type # FIXME: service_type.name throwing "No method error"
      %td= link_to 'Edit', resource(service, :edit)
      %td= link_to 'Delete', resource(service, :delete), :confirm => 'Are you sure?'

%p= link_to 'New service', resource(:services, :new)
- throw_content :sidebar do
  %h2 Actions
  %ul
    %li= link_to "Add a service", resource(:services, :new)
