<h1><%= @service.name %></h1>

<!--
<div id="instances">
  <h2>Instances</h2>
  <table>
    <tr>
      <th>Client</th>
      <th>Platform</th>
      <th>Release</th>
    </tr>
    <% @service_instances.each do |si| %>
    <tr>
      <td><%= si.client.name %></td>
      <td><%= si.platform.name %></td>
      <td><%= si.release.name %></td>
    </tr>
    <% end %>
  </table>
</div>
-->
I'm not sure what to make of this page yet. For now, move over to <%= link_to '"Manage deployments"', service_service_instances_path(@service) %>.

<% content_for :sidebar, render (:partial => "sidebar", :object => @service) %>