<h1><%= @service.name %> </h1>

  

<div id="releases">
  <h2> Releases</h2>
  <span><%= link_to "Add a release", new_service_release_path(@service) %> </span>
  <ul>
    <% @releases.each do |release| %>
      <li><%= link_to release.name, service_release_path(@service, release) %> </li>
    <% end %>
  </ul>    
</div>

<div id="">

<% content_for :sidebar do %>
  <h2>Actions</h2>
  <ul id="specific">
    <li><%= link_to 'Edit this service', edit_service_path(@service) %> </li>
  </ul>
  <ul id="general">
    <li><%= link_to "Add a release", new_service_release_path(@service) %> </li>
  </ul>
  <h2>Releases</h2>
  <ul>
    <% @releases.each do |release| %>
      <li><%= link_to release.name, service_release_path(@service, release) %> </li>
    <% end %>
  </ul>
<% end %>