<h1><%= @service.name %></h1>

<!--
<div id="instances">
  <h2>Instances</h2>
  <table>
    <tr>
      <th>Client</th>
      <th>Platform</th>
      <th>Release</th>
    </tr>
    <% @deployments.each do |d| %>
    <tr>
      <td><%= d.client.name %></td>
      <td><%= d.platform.name %></td>
      <td><%= d.release.name %></td>
    </tr>
    <% end %>
  </table>
</div>
-->
I'm not sure what to make of this page yet. For now, move over to <%= link_to '"Manage deployments"', resource(@service, :deployments) %>.

<% throw_content :sidebar, partial("sidebar", :service => @service) %>
