<h1><%= @service.name %> deploy manager</h1>

<div id="instances">
  <h2>Instances</h2>
  <table>
    <tr>
      <th>Client</th>
      <th>Platform</th>
      <th>Release</th>
    </tr>
    <% @service_instances.each do |si| %>
    <tr>
      <td><%= si.client.name %></td>
      <td><%= si.platform.name %></td>
      <td><%= si.release.name %></td>
    </tr>
    <% end %>
  </table>
</div>

<% content_for :sidebar do %>
  <h2>Actions</h2>
  <ul id="specific">
    <li><%= link_to 'Edit this service', edit_service_path(@service) %> </li>
  </ul>
  <ul id="general">
    <li><%= link_to "Add a release", new_service_release_path(@service) %> </li>
  </ul>
  <h2>Releases <sup><%= link_to "+", new_service_release_path(@service) %></sup></h2>
  <ul>
    <% @releases.each do |release| %>
      <li><%= link_to release.name, service_release_path(@service, release) %> </li>
    <% end %>
  </ul>
<% end %>