<h1>Editing purpose</h1>

<%= form_for(@purpose, :action => resource(@purpose)) do  %>
  <%= error_messages %>

  <p>
    <%= text_field :role_id %>
  </p>
  <p>
    <%= text_field :server_id %>
  </p>
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>

<%= link_to 'Show', resource(@purpose) %> |
<%= link_to 'Back', resource(:purposes) %>
