%h1
  Editing system
= form_for(:system, :action => resource(@system)) do
  = error_messages
  = partial(:form)
  %p
    = submit "Update"

= link_to 'Show', resource(@system)
|
= link_to 'Back', resource(:systems)

- throw_content(:sidebar) do
  %h2
    Actions
  %ul#specific
    %li
      = link_to 'Assign a role', resource(@system, :purposes, :new)
  %ul#general
    %li
      = link_to 'New system', resource(:systems, :new)
  - if @system.others.size > 0
    %h2
      More systems
    %ul
      - @system.others.each do |system|
        %li
          = link_to system.name, resource(system)
      %li
        = link_to "See all...", resource(:systems)
