<h1><%=h title %></h1>

<table>
  <tr>
    <th>Client</th>
    <th>Service</th>
    <th>Release</th>
    <th>Platform</th>
  </tr>

<% for si in @service_instances %>
  <tr>
    <td><%= link_to si.client.name, si.client.id %></td>
    <td><%= link_to si.release.service.name, si.release.service.id %></td>
    <td><%= link_to si.release.name, service_release_path(si.release.service.id, si.release.id) %></td>
    <td><%= link_to si.platform.name, si.platform %></td>
    <td><%= link_to 'Show', service_instance_path(si.id) %></td>
    <td><%= link_to 'Edit', edit_service_instance_path(si.id) %></td>
    <td><%= link_to 'Destroy', service_instance_path(si.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New service_instance', new_service_instance_path %>
