<h1>New service_instance</h1>

<%= form_for(@service_instance, :action => resource(:service_instances)) do %>
  <%= error_messages %>
  <table>
    <tr>
      <th>Client:</th>
      <td><%= select :client_id, :collection => Client.all, :value_method => :id, :text_method => :name %></td>
    </tr>
    <tr>
      <th>Release:</th>
      <td><%= select :release_id, :collection => Release.all, :value_method => :id, :text_method => :full_name %></td>
    </tr>
    <tr>
      <th>Platform:</th>
      <td><%= select :platform_id, :collection => Platform.all, :value_method => :id, :text_method => :name %></td>
    </tr>
  </table>

  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:service_instances) %>
