<h2><%= "#{@service_instance.release.service.name} for #{@client.name} on #{@service_instance.platform.name}" %></h2>
<h3>Details</h3>
<p><b>Client:</b>
<%= link_to @service_instance.client.name, resource(@service_instance.client) %>
</p>
<p><b>Service:</b>
<%= link_to @service_instance.release.service.name, resource(@service_instance.release.service) %>
<p><b>Release:</b>
<%= link_to @service_instance.release.name, resource(@service_instance.release.service) %>
</p>
<p><b>Platform:</b>
<%= link_to @service_instance.platform.name, resource(@service_instance.platform) %>
</p>

<%= link_to 'Edit', resource(@service_instance) %> |
<%= link_to 'Back', resource(:service_instances) %>
