<h1>Editing platform</h1>

<%= form_for(@platform, :action => resource(@platform)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name %>
  </p>
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>

<%= link_to 'Show', resource(@platform) %> |
<%= link_to 'Back', resource(:platforms) %>
