<h1>Listing platforms</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for platform in @platforms %>
  <tr>
    <td><%=h platform.name %></td>
    <td><%= link_to 'Show', platform_path(platform.id) %></td>
    <td><%= link_to 'Edit', edit_platform_path(platform.id) %></td>
    <td><%= link_to 'Destroy', platform_path(platform.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% content_for(:sidebar) do %>
  <h2> Actions </h2>
  <ul>
    <li><%= link_to 'Add a platform', new_platform_path %> </li>
  </ul>
  <h2> All platforms </h2>
  <ul>
    <% Platform.all.each do |platform| %>
      <li><%= link_to platform.name, platform_path(platform.id) %> </li>
    <% end %>
  </ul>
<% end %>
