<h1>Listing platforms</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for platform in @platforms %>
  <tr>
    <td><%=h platform.name %></td>
    <td><%= link_to 'Show', resource(platform) %></td>
    <td><%= link_to 'Edit', resource(platform, :edit) %></td>
    <td><%= link_to 'Delete', resource(platform, :delete), :class => 'delete-link' %></td>
  </tr>
<% end %>
</table>

<% throw_content(:sidebar) do %>
  <h2> Actions </h2>
  <ul>
    <li><%= link_to 'Add a platform', resource(:platforms, :new) %> </li>
  </ul>
  <h2> All platforms </h2>
  <ul>
    <% Platform.all.each do |platform| %>
      <li><%= link_to platform.name, resource(platform) %> </li>
    <% end %>
  </ul>
<% end %>
