<h1>New platform</h1>

<%= form_for(@platform, :action => resource(:platforms)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:platforms) %>
