<h1>Editing platform <%=h @platform.name %></h1>

<p>
  Drag servers between your into this platform to add them
  or drag them away to remove. 
</p>

<div id="platform_manager">

  <div id="servers">
    <h2><%= @platform.name %></h2>
    <div id="servers_options">
      <%= link_to "Edit...", edit_platform_path(@platform) %>
    </div>
    
    <%= render :partial => "server", :collection => @platform.servers %>
  </div>

  <div id="other_servers">
    <h2>Other servers</h2>
    
    <div id="other_servers_options">
      <%= link_to "Add more...", new_server_path %>
      <%= link_to_function "Filter", visual_effect(:toggle_blind, 'server_filter_box') %>
      <div id="server_filter_box" style="display: none">
        <span>Show only</span>
        <span style="float: right">
          <% form_tag 'javascript:void(0)' do %>
            <%= select_tag :role_filter, options_for_select(Role.find(:all).map {|r| [r.name.pluralize, r.id]}) %>
          <% end %>
        </span>
      </div>
    </div>
    
    <%= render :partial => "server", :collection => @platform.other_servers %>
  </div>
  
  <div style="clear: both"/>

</div>

<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
