<h1>Editing platform <%=h @platform.name %></h1>

<p>
  Drag servers between your into this platform to add them
  or drag them away to remove. 
</p>

<div id="platform_manager">
  
  <div id="servers">
    <%= partial :memberships,
      :platform_memberships => @platform.platform_memberships,
      :platform => @platform %>
  </div>

  <div id="other_servers">
    <%= partial :other_servers,
      :other_servers => @platform.other_servers,
      :platform => @platform %>
  </div>
  
  <div style="clear: both"/>

</div>

<script>
$('.server').draggable({
  containment: '#platform_manager',
  revert: 'invalid'
});
$('.membership').draggable({
  containment: '#platform_manager',
  revert: 'invalid'
});

$('#servers').droppable({
  accept: '.server',
  hoverClass: 'dragover',
  drop: function(event, ui) {
    $(this).effect('highlight');
    // TODO: add the ajax call
  }
});
$('#other_servers').droppable({
  accept: '.membership',
  hoverClass: 'dragover',
  drop: function(event, ui) {
    $(this).effect('highlight');
    // TODO: add the ajax call
  }
});
</script>

<%#   drop_receiving_element("servers",
        :accept     => "server",
        :before     => visual_effect("highlight", "servers") +
                           " new Effect.Move(element, { x: Position.page($('servers'))[0]-Position.page(element)[0], mode: 'relative', duration: 4 });",
        :hoverclass => "dragover",
        :with       => "\"server_id=\"+ encodeURIComponent(element.id.split('_').last())",
        :url        => resource(@platform) + ".js"
      ) %>

<%#   unescaped_drop_receiving_element("other_servers",
        :accept     => "membership",
        :before     => visual_effect("highlight", "other_servers"),
        :hoverclass => "dragover",
        :with       => "''",
        :method     => "delete",
        :url        => "'" + resource(@platform, -1) + ".js'.replace('-1', encodeURIComponent(element.id.split('_').last()))"
        #formatted_platform_platform_membership_path (@platform, @platform.membership_for_server_id(1), :js)
      ) %>

<%= link_to 'Edit', resource(@platform, :edit) %> |
<%= link_to 'Back', resource(:platforms) %>

<% throw_content :sidebar do %>
  <% if (! @platform.others.empty?) %>
    <h2>More platforms</h2>
    <ul>
      <% @platform.others.each do |other_platform| %>
      <li>
        <%= link_to other_platform.name, resource(other_platform) %>
      </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
