<h1>Editing platform <%=h @platform.name %></h1>

<p>
  Drag servers between your into this platform to add them
  or drag them away to remove. 
</p>

<div id="platform_manager">
  
  <div id="servers">
    <%= render :partial => "memberships", 
                :object => @platform.platform_memberships, 
                :locals => { :platform => @platform } %>
  </div>

  <div id="other_servers">
    <%= render :partial => "other_servers", 
                :object => @platform.other_servers, 
                :locals => { :platform => @platform } %>
  </div>
  
  <div style="clear: both"/>

</div>

<%=   drop_receiving_element("servers",
        :accept     => "server",
        :before     => visual_effect("highlight", "servers") +
                           " new Effect.Move(element, { x: Position.page($('servers'))[0]-Position.page(element)[0], mode: 'relative', duration: 4 });",
        :hoverclass => "dragover",
        :with       => "\"server_id=\"+ encodeURIComponent(element.id.split('_').last())",
        :url        => platform_platform_memberships_path(@platform) + ".js"
      ) %>

<%=   unescaped_drop_receiving_element("other_servers",
        :accept     => "membership",
        :before     => visual_effect("highlight", "other_servers"),
        :hoverclass => "dragover",
        :with       => "''",
        :method     => "delete",
        :url        => "'" + platform_platform_membership_path(@platform, -1) + ".js'.replace('-1', encodeURIComponent(element.id.split('_').last()))"
        #formatted_platform_platform_membership_path (@platform, @platform.membership_for_server_id(1), :js)
      ) %>



<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
