<h1>New plugin_property</h1>

<%= form_for(@plugin_property, :action => resource(@plugin_property)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :key %>
  </p>
  <p>
    <%= text_field :value %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:plugin_properties) %>
