<h1>New contract</h1>

<%= form_for(@contract, :action => resource(@client, :contracts)) do %>
  <%= error_messages %>

  <p>
    <%= select :service_id, @services, :id, :name %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(@client) %>
