<h1>Editing plugin_instance</h1>

<% form_for(@plugin_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :plugin_type %><br />
    <%= f.select :plugin_type,
        Locomotive::Plugin.all_ids,
        :prompt => "Select plugin type" %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <table>

        <% fields_for @plugin_instance.plugin_properties do |fld, property| %>
          <tr>
            <td><%=h property.key %> <%= fld.hidden_field :key %></td>
            <td><%= fld.text_field :value %></td>
          </tr>
        <% end %>
    </table>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @plugin_instance %> |
<%= link_to 'Back', plugin_instances_path %>
