<h1>Listing plugin_instances</h1>

<table>
  <tr>
    <th>Plugin type</th>
    <th>Version</th>
    <th>Name</th>
  </tr>

<% for plugin_instance in @plugin_instances %>
  <tr>
    <td><%=h plugin_instance.plugin_type %></td>
    <td><%=h plugin_instance.version %></td>
    <td><%=h plugin_instance.name %></td>
    <td><%= link_to 'Show', resource(plugin_instance) %></td>
    <td><%= link_to 'Edit', resource(plugin_instance, :edit) %></td>
    <td><%= link_to 'Delete', resource(plugin_instance.id, :delete), :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

