<h1>New instance of <%=h @plugin.name %></h1>

<p>
  Let's hook a new instance of <%=h @plugin.name %> into your Locomotive. Please provide a name for this instance and configure its properties.
</p>

<% form_for(@plugin_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :plugin_type %>: <%=h @plugin_instance.plugin_type %>
    <%= f.hidden_field :plugin_type %>
  </p>
  <p>
    <%= f.label :version %>: <%=h @plugin_instance.version %>
    <%= f.hidden_field :version %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', plugin_instances_path %>
