<h1>Editing service</h1>

<%= form_for(:service, :action => resource(@service)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name, :label => 'Name' %>
  </p>

  <p>
    <%= text_field :service_type_type, :label => 'Type' %>
  </p>
  
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>

<%= link_to 'Show', resource(@service) %> |
<%= link_to 'Back', resource(:services) %>

<% throw_content :sidebar, partial("sidebar", :service => @service) %>
