<h1>New service</h1>

<%= form_for(:service, :action => resource(:services)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:services) %>
