<h1>Editing application</h1>

<% form_for(@application) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @application %> |
<%= link_to 'Back', applications_path %>
