<h1>New plugin</h1>

<%= form_for(@plugin, :action => resource(@plugin)) do  %>
  <%= error_messages %>

  <p>
    <%= label "short_name" %><br />
    <%= text_field :short_name %>
  </p>
  <p>
    <%= label "name" %><br />
    <%= text_field :name %>
  </p>
  <p>
    <%= label "description" %><br />
    <%= text_field :description %>
  </p>
  <p>
    <%= label "url" %><br />
    <%= text_field :url %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:plugins) %>
