<h2>Plugin details</h2>
<p>
  <b>Short name:</b>
  <%=h @plugin.short_name %>
</p>

<p>
  <b>Name:</b>
  <%=h @plugin.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @plugin.description %>
</p>

<%= link_to 'Edit', edit_plugin_path(@plugin) %> |
<%= link_to 'Back', plugins_path %>
