%h1
  Editing platform
  = h @platform.name
%p
  Drag systems between your into this platform to add them
  or drag them away to remove.
#platform_manager
  #systems
    = partial :memberships, :platform_memberships => @platform.platform_memberships, :platform => @platform
  #other_systems
    = partial :other_systems, :other_systems => @platform.other_systems, :platform => @platform
  %div{ :style => "clear: both" }
  %style{ :type => "text/css" }
    \/* TODO: move to an actual stylesheet */
    \.connected-sortable {
    border:4px solid #00dd00;height:200px
    }
    ul.connected-sortable {
    margin: 0px; padding: 0px;
    list-style-type: none;
    }
  %script
    $('#systems ul, #other_systems ul').sortable({
    receive: function(event, ui) {
    $(this).effect('highlight');
    \// TODO: add the ajax call
    },
    connectWith: ['.connected-sortable']
    });
    
    \//$('.system').draggable({
    \//  containment: '#platform_manager',
    \//  revert: 'invalid'
    \//});
    \//$('.membership').draggable({
    \//  containment: '#platform_manager',
    \//  revert: 'invalid'
    \//});
    
    \//$('#systems').droppable({
    \//  accept: '.system',
    \//  hoverClass: 'dragover',
    \//  drop: function(event, ui) {
    \//    $(this).effect('highlight');
    \//    // TODO: add the ajax call
    \//  }
    \//});
    \//$('#other_systems').droppable({
    \//  accept: '.membership',
    \//  hoverClass: 'dragover',
    \//  drop: function(event, ui) {
    \//    $(this).effect('highlight');
    \//    // TODO: add the ajax call
    \//  }
    \//});

= link_to 'Edit', resource(@platform, :edit)
|
= link_to 'Back', resource(:platforms)

- throw_content :sidebar do
  - if (! @platform.others.empty?)
    %h2
      More platforms
    %ul
    - @platform.others.each do |other_platform|
      %li
        = link_to other_platform.name, resource(other_platform)
