<h1>Editing server</h1>

<% form_for(@server) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :hostname %><br />
    <%= f.text_field :hostname %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @server %> |
<%= link_to 'Back', servers_path %>
