<h1>Editing server</h1>

<%= form_for(@server, :action => resource(@server)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name, :label => 'Name' %>
  </p>
  <p>
    <%= text_field :hostname, :label => 'Hostname' %>
  </p>
  
  <table>
    <%# render :partial => "server_role", :collection => Role.all %>
    <% Role.all.each do |role| %>
      <tr>
        <td>
          <%= check_box :name => "server[role_ids][]", :value => role.id, :boolean => @server.roles.include?(role) %>
        </td>

        <td>
            <%=h role.name %>
        </td>
      </tr>
    <% end %>
  
  </table>
  
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>

<%= link_to 'Show', resource(@server) %> |
<%= link_to 'Back', resource(:servers) %>

<% throw_content(:sidebar) do %>

  <h2>Actions</h2>

  <ul id="specific">
    <li><%= link_to 'Assign a role', resource(@server, :purposes, :new) %></li>
  </ul>
  <ul id="general">
    <li><%= link_to 'New server', resource(:servers, :new) %></li>
  </ul>
  
  <% if @server.others.size > 0 %>
    <h2>More servers</h2>
  
    <ul>
    <% @server.others.each do |server| %>
      <li><%= link_to server.name, resource(server) %></li>
    <% end %>
    <li><%= link_to "See all...", resource(:servers) %></li>
    </ul>
  <% end %>
  
<% end %>
