<h1>New server</h1>

<%= form_for(@server, :action => resource(:servers)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name, :label => 'Name' %>
  </p>
  <p>
    <%= text_field :hostname, :label => 'Hostname' %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:servers) %>

<% throw_content(:sidebar) do %>

  <% if @server.others.size > 0 %>
    <h2>More servers</h2>
  
    <ul>
    <% @server.others.each do |server| %>
      <li><%= link_to server.name, resource(server) %></li>
    <% end %>
    <li><%= link_to "See all...", resource(:servers) %></li>
    </ul>
  <% end %>
  
<% end %>
