<p>
  <b>Name:</b>
  <%=h @server.name %>
</p>

<p>
  <b>Hostname:</b>
  <%=h @server.hostname %>
</p>

<p>
  <b>Roles:</b>
  
  <table>
  <% @server.purposes.each do |purpose| %>
    <tr>
      <td><%=h purpose.role.name %></td>
      <td><%= link_to 'Show', server_purpose_path(@server, purpose) %></td>
      <td><%= link_to 'Remove', server_purpose_path(@server, purpose), :confirm => 'Are you sure? (this does not work yet)', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  
  <%= link_to 'Add another role' %>
  
</p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
