<p>
  <b>Name:</b>
  <%=h @server.name %>
</p>

<p>
  <b>Hostname:</b>
  <%=h @server.hostname %>
</p>

<p>
  <b>Roles:</b>
    <ul>
      <% @server.roles.each do |role| %>
        <li><%=h role.name %></li>
      <% end %>
    </ul>
    
</p>

<%= link_to 'Back to server list', servers_path %>

<% content_for(:sidebar) do %>

  <h2>Actions</h2>

  <ul id="specific">
    <li><%= link_to 'Edit this server', edit_server_path(@server) %></li>
    <li><%= link_to 'Assign a role', new_server_purpose_path(@server) %></li>
  </ul>
  <ul id="general">
    <li><%= link_to 'New server', new_server_path %></li>
  </ul>
  
  <% if @server.others.size > 0 %>
    <h2>More servers</h2>
  
    <ul>
    <% @server.others.each do |server| %>
      <li><%= link_to server.name, server %></li>
    <% end %>
    <li><%= link_to "See all...", servers_path %></li>
    </ul>
  <% end %>
  
<% end %>