<h1>Editing client</h1>

<%= form_for(@client, :action => resource(@client)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name, :label => 'Name' %>
  </p>
  <p>
    <%= text_field :description, :label => 'Description' %>
  </p>
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>

<%= link_to 'Show', resource(@client) %> |
<%= link_to 'Back', resource(:clients) %>
