<h1> Clients </h1>

<p>
  These are your clients. You may want to click on any of them to show 
  their details, assign services to them and so on.
</p>

<table>
  <tr>
    <th> Name </th>
    <th> Description </th>

  <% @clients.each do |client| %>
    <tr>
      <td><%= link_to client.name, resource(client) %></td> 
      <td><%=h client.description %></td>
      <td><%= link_to 'Delete', resource(client, :delete), :confirm => 'Are you sure?'  %></td>
  <% end %>

<% throw_content(:sidebar) do %>
  <h2> Actions </h2>
  <ul>
    <li><%= link_to 'Add a client', resource(:clients, :new) %> </li>
  </ul>
  <h2> All clients </h2>
  <ul>
    <% @clients.each do |client| %>
      <li><%= link_to client.name, resource(client) %> </li>
    <% end %>
  </ul>
<% end %>
