<% content_for(:sidebar) do %>
  <h2>All clients:</h2>
  <ul>
    <% @clients.each do |client| %>
      <li><%=h client.name %></li>
    <% end %>
  </ul>
<% end %>

<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for client in @clients %>
  <tr>
    <td><%=h client.name %></td>
    <td><%=h client.description %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New client', new_client_path %>
