<h1>New client</h1>

<%= form_for(@client, :action => resource(:clients)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name, :label => 'Name' %>
  </p>
  <p>
    <%= text_field :description, :label => 'Description' %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:clients) %>
