<h1><%=h @client.name %></h1>
<p>
  <%=h @client.description %>
</p>

<div id="contracts">
  <h2>Services</h2>
  <p>
    These are the services that are assigned to this client.
    Feel free to check them out or <%= link_to 'assign more', new_client_contract_path(:client_id => @client.id) %>
  </p>
  <table>
    <tr>
      <th>Service</th>
      <th>Instances</th>
      <th>Actions</th>
    </tr>
    <% @client.contracts.each do |contract| %>
      <tr>
        <td><%= link_to contract.service.name, service_path(contract.service) %></td>
        <td>
          <ul>
            <% 
              instances = contract.service.instances_for_client_id(@client.id)

              if instances.size > 0
                instances.each do |instance|
            %>
            
                <%= link_to "#{instance.platform.name} (#{instance.release.name})", instance %>
            
            <%    
                end
              else
            %>
              not deployed to any platforms yet
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'cancel contract', client_contract_path(@client, contract), :method => :delete %></td>
    <% end %>
  </table>
  
<% content_for(:sidebar) do %>
  <h2>Actions</h2>
  <ul id="specific">
    <li><%= link_to 'Edit this client', edit_client_path(@client) %></li>
    <li><%= link_to 'Assign a service', new_client_contract_path(:client_id => @client.id) %></li>
  </ul>
  <ul id="general">
    <li><%= link_to 'Add a new client', new_client_path %>
  </ul>
<% end %>