<h1>Editing plugin_property</h1>

<% form_for(@plugin_property) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', plugin_property_path(@plugin_property.id) %> |
<%= link_to 'Back', plugin_properties_path %>
