<h1>Editing plugin_property</h1>

<%= form_for(@plugin_property, :action => resource(@plugin_property)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :key, :label => 'Key' %>
  </p>
  <p>
    <%= text_field :value, :label => 'Value' %>
  </p>
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>

<%= link_to 'Show', resource(@plugin_property) %> |
<%= link_to 'Back', resource(:plugin_properties) %>
