<h1>Listing plugin_properties</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>

<% for plugin_property in @plugin_properties %>
  <tr>
    <td><%=h plugin_property.key %></td>
    <td><%=h plugin_property.value %></td>
    <td><%= link_to 'Show', resource(plugin_property) %></td>
    <td><%= link_to 'Edit', resource(plugin_property, :edit) %></td>
    <td><%= link_to 'Destroy', resource(plugin_property, :delete), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New plugin_property', resource(:plugin_properties, :new) %>
