<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Locomotive - <%= Extlib::Inflection.humanize(controller_name) %> - <%= Extlib::Inflection.humanize(action_name) %></title>
  <%= css_include_tag 'scaffold' %>
  <%= css_include_tag 'panel' %>
  <%= js_include_tag :jquery %>
  <%= js_include_tag :application %>
  <%= js_include_tag 'ui/ui.core', 'ui/ui.dialog', 'ui/ui.draggable', 'ui/ui.droppable', 'ui/ui.resizable', 'ui/ui.sortable' %> 
  <%= js_include_tag 'effects/effects.core', 'effects/effects.blind', 'effects/effects.highlight' %>
</head>

<body class="<%= controller_name %>">
<div id="wrapper">
	<div id="header">
    
		<h1>Locomotive Control Panel</h1>

    <%= partial 'shared/mainmenu' %>

	</div>

	<div id="main">
    <div id="sidebar">
			<%= catch_content :sidebar %>
		</div>
    <div id="content">
      <div id="contentwindow">
        <div id="contentwindow-header">
          <h1><!--insert title here--></h1>
          <%= partial 'shared/submenu' %>
        </div>
        <div id="contentwindow-body">
          <p style="color: green"><%= h(message) %></p>
          <%= catch_content :for_layout  %>
        </div>
      </div>
		</div>
	</div>
</div>
</body>
</html>
