%h1
  Clients
%p
  These are your clients. You may want to click on any of them to show
  their details, assign services to them and so on.
%table
  %tr
    %th
      Name
    %th
      Description
    - @clients.each do |client|
      %tr
        %td
          = link_to client.name, resource(client)
        %td
          = h client.description
        %td
          = link_to 'Delete', resource(client, :delete), :class => 'delete-link'

#pagination
  = paginate_links(params[:page], @page_count, :clients)

- throw_content(:sidebar) do
  %h2
    Actions
  %ul
    %li
      = link_to 'Add a client', resource(:clients, :new)
  %h2
    All clients
  %ul
    - @clients.each do |client|
      %li
        = link_to client.name, resource(client)
