%h1
  New client
= form_for(:client, :action => resource(:clients)) do
  = error_messages
  %p
    = text_field :name, :label => 'Name'
  %p
    = text_field :description, :label => 'Description'
  %p
    = submit "Create"

= link_to 'Back', resource(:clients)
