%h1
  Add a role to server
  = @system.name
= form_for(:purpose, :action => resource(@system, :purposes)) do
  = error_messages
  = hidden_field :system_id
  %p
    = label :role_id
    %br
    = select :role_id, :collection => Locomotive::Role.all, :value_method => :id, :text_method => :name
  %p
    = submit "Create"
= link_to 'Back to server '+@system.name, resource(@system)
