%h2
  Editing
  = "#{@deployment.release.full_name} for #{@deployment.client.name}"
= form_for(:deployment, :action => resource(@deployment)) do
  = error_messages
  %p
    %p
      %b
        Release:
      - #= link_to @deployment.release.name, service_release_path(@deployment.release.service, @deployment.release)
      = select :release_id, @deployment.service.releases, :id, :full_name
    %p
      %b
        Platform:
      = link_to @deployment.platform.name, resource(@deployment.platform)
    = submit "Update"

= link_to 'Show', resource(@deployment)
|
= link_to 'Back', resource(:deployments)
