<h1>Editing platform_membership</h1>

<%= form_for(@platform_membership, :action => resource(@platform_membership)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :server_id %>
  </p>
  <p>
    <%= text_field :platform_id %>
  </p>
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>

<%= link_to 'Show', resource(@platform_membership) %> |
<%= link_to 'Back', resource(:platform_memberships) %>
