<h1>Listing platform_memberships</h1>

<table>
  <tr>
    <th>Server</th>
    <th>Platform</th>
  </tr>

<% for platform_membership in @platform_memberships %>
  <tr>
    <td><%=h platform_membership.server_id %></td>
    <td><%=h platform_membership.platform_id %></td>
    <td><%= link_to 'Show', resource(platform_membership) %></td>
    <td><%= link_to 'Edit', resource(platform_membership, :edit) %></td>
    <td><%= link_to 'Delete', resource(platform_membership, :delete), :class => 'delete-link' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New platform_membership', resource(platform_memberships, :new) %>
