<h1>New platform_membership</h1>

<%= form_for(@platform_membership, :action => resource(@platform, :platform_memberships)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :server_id %>
  </p>
  <p>
    <%= text_field :platform_id %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

