<h1>New platform_membership</h1>

<% form_for([@platform,@platform_membership]) do |f| %>
  <!--TODO: Fixme for DM %= f.error_messages %-->

  <p>
    <%= f.label :server_id %><br />
    <%= f.text_field :server_id %>
  </p>
  <p>
    <%= f.label :platform_id %><br />
    <%= f.text_field :platform_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

