<h1>Editing plugin_instance</h1>

<%= form_for(:plugin_instance, :action => resource(@plugin_instance)) do %>
  <%= error_messages %>

  <p>
    <%= select :plugin_type,
        Locomotive::Plugin.all_ids,
        :name => 'Plugin type',
        :prompt => "Select plugin type" %>
  </p>
  
  <p>
    <%= text_field :version, :label => 'Version' %>
  </p>

  <p>
    <%= text_field :name, :label => 'Name' %>
  </p>

  <p>
    <table>
        <% @plugin_instance.plugin_properties.each do %>
          <% fields_for "plugin_properties[]", property do %>
          <%= error_messages_r :property %>
            <tr>
              <td><%=h property.key %> <%= hidden_field :key %></td>
              <td><%= text_field :value %></td>
            </tr>
          <% end%>
        <% end %>
    </table>
  </p>

  <p>
    <%= submit "Update" %>
  </p>

<% end =%>

<%= link_to 'Show', resource(@plugin_instance) %> |
<%= link_to 'Back', resource(:plugin_instances) %>
