%h1
  = h @role.name
%p
  == Listing all systems with role '#{h @role.name}'

%ul
- @role.systems.each do |system|
  %li
    = link_to system.name, resource(system)

= link_to 'Edit', resource(@role, :edit)
|
= link_to 'Back', resource(:roles)
