<h1>Editing role</h1>

<%= form_for(@role, :action => resource(@role)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name %>
  </p>
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>

<%= link_to 'Show', resource(@role) %> |
<%= link_to 'Back', resource(:roles) %>
