<h1><%=h @role.name %></h1>
<p>
  Listing all servers with role `<%=h @role.name %>'
  <ul>
  <%
    @role.servers.each do |server|
  %>
    <li>
      <%= link_to server.name, resource(server) %>
    </li>
  <%
    end
  %>
  </ul>
</p>


<%= link_to 'Edit', resource(@role, :edit) %> |
<%= link_to 'Back', resource(:roles) %>
