<h1><%=h @role.name %></h1>
<p>
  Listing all servers with role `<%=h @role.name %>'
  <ul>
  <%
    @role.servers.each do |server|
  %>
    <li>
      <%= link_to server.name, server_path(server) %>
    </li>
  <%
    end
  %>
  </ul>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
