<h1>Editing release_version</h1>

<% form_for(@release_version) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @release_version %> |
<%= link_to 'Back', release_versions_path %>
