<h1>Editing fulfillment</h1>

<% form_for(@fulfillment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :role_id %><br />
    <%= f.text_field :role_id %>
  </p>
  <p>
    <%= f.label :server_id %><br />
    <%= f.text_field :server_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @fulfillment %> |
<%= link_to 'Back', fulfillments_path %>
