<h1>Editing release</h1>

<%= form_for(@release, :action => resource(@service, @release)) do %>
  <%= error_messages %>

  <p>
    <%= text_field :name %>
  </p>
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(@service) %>
