<h1>Listing releases</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for release in @releases %>
  <tr>
    <td><%=h release.name %></td>
    <td><%= link_to 'Show', release %></td>
    <td><%= link_to 'Edit', edit_release_path(release) %></td>
    <td><%= link_to 'Destroy', release, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New release', new_release_path %>
