%h1== New release for #{@service.name}

= form_for(@release, :action => (:releases)) do # FIXME: HAML blowing up on :action => (@service, :releases)
  = error_messages
  %p= label :name
  = text_field :name
  = hidden_field :service_id
  = submit "Create"
=link_to "Back to #{@service.name}", resource(@service)
