%h1== New release for #{@service.name}

- form_for(@release) do |f|
  = f.error_messages
  %p= f.label :name
  = f.text_field :name
  = f.hidden_field :service_id
  = f.submit "Create"
    
= link_to 'Back', releases_path