%h1== #{link_to @release.service.name, service_path(@release.service)} release #{@release.name}
#actions 
  %span= link_to 'Edit', edit_service_release_path(@service, @release)

  
- content_for :sidebar do
  %h2 Actions
  %ul
    %li= link_to 'Edit this release', edit_service_release_path(@release.service, @release)
    %li= link_to "Delete this release", service_release_path(@release.service, @release), :method => :delete
  %ul#general
    %li= link_to "Add a release", new_service_release_path(@release.service)
    
  %h2 Other releases
  %ul
    - @release.service.releases.each do |other_release|
      %li= link_to other_release.name, :controller => "releases", :action => "show", :id => other_release.id