%h1== #{link_to @release.service.name, service_path(@release.service)} release #{@release.name}
#actions 
  %span= link_to 'Edit', edit_release_path(@release)

  
- content_for :sidebar do
  %h2 Actions
  %ul
    %li= link_to "Add a release", :controller => 'releases', :action => "new", :service_id => @release.service.id
    
  %h2 Other releases
  %ul
    - @release.service.releases.each do |other_release|
      %li= link_to other_release.name, :controller => "releases", :action => "show", :id => other_release.id