<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Locomotive - <%= controller.controller_name %> - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'panel' %>
  <%= javascript_include_tag :defaults %> 
</head>

<body class="<%= controller.action_name %>">
<div id="wrapper">
	<div id="header">
    
		<h1>Locomotive Control Panel</h1>

    <%= render :partial => 'shared/mainmenu' %>

	</div>

	<div id="main">
    <div id="sidebar">
			<%= yield :sidebar %>
		</div>
    <div id="content">
      <div id="contentwindow">
        <div id="contentwindow-header">
          <h1><!--insert title here--></h1>
          <%= render :partial => 'shared/submenu' %>
        </div>
        <div id="contentwindow-body">
          <p style="color: green"><%= flash[:notice] %></p>
          <%= yield  %>
        </div>
      </div>
		</div>
	</div>
</div>
</body>
</html>
