<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Plugins: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'panel' %>
</head>

<body class="<%= controller.action_name %>">
<div id="wrapper">
	<div id="header">
    
		<h1>Locomotive Control Panel</h1>

    <%= render :partial => 'shared/menubar' %>

	</div>

	<div class="" id="main">
	    <div id="sidebar">        
			(sidebar content)
		</div>

	    <div id="content">
		
			<p style="color: green"><%= flash[:notice] %></p>
			
						 (<% controller.methods.each do |m| h m end %>)

			<%= yield  %>
		</div>
	</div>
</div>
</body>
</html>
